* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/*--------------------------------------------------------------- CSS FOR THE HOME PAGE --------------------------------------------------------*/

body {
  background: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url('./images/5277949.png');
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: #ff004f;
}

/*-------------------------------------------------------- CSS FOR THE ABOUT SECTION ---------------------------------------------------------*/

#about {
  padding: 80px 0;
  color: #ababab;
  /* background-image: ur; */
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  height: 70%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #ff004f;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}
.tab-links:hover {
  color: #ff004f;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/*---------------------------------------------------------CSS FOR THE SERVICES SECTION ----------------------------------------------------------*/

#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  font-size: 13px;
  padding: 40px;
  font-weight: 300;
  background: #262626;
  border-radius: 15px;
  transition: transform 0.5s, background 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 20px;
}
.services-list div h2 {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 15px;
}
#bug {
  margin-bottom: 20px;
}
.services-list div a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}
.fa-arrow-up-right-from-square {
  width: 10px;
  height: 10px;
}

/*---------------------------------------------------------CSS FOR THE SERVICES SECTION ----------------------------------------------------------*/
#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  /* transition: transform 0.5s; */
  transition: transform 0.5s, background 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
}
.work:hover img {
  /* transform: scale(1.1); */
  transform: translateY(-10px);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 10px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}

/*---------------------------------------------------------CSS FOR THE CONTACT SECTION ----------------------------------------------------------*/

.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 10px;
  font-size: 18px;
}
.social-icons {
  padding: 30px 0px;
}
.social-icons a {
  text-decoration: none;
  color: #ababab;
  margin-right: 15px;
  font-size: 25px;
  display: inline-block;
  transition: background 0.5s, transform 0.3s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn2 {
  display: inline-block;

  padding: 10px 20px;
  color: #fff;
  background: #080808;
  transition: background 0.5s;
  margin: 15px;
}
.btn2 :hover {
  background: #ff004f;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  margin: 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  padding: 15px;
}
form btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
/* CSS FOR PHONE SCREEN */
nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 600px) {
  #header {
    background-image: url('./images/phone-background.png');
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
    margin: -275px 10px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solids {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
}
#msg {
  font-size: 10px;
  color: #61b752;
  margin-top: -10px;
  display: block;
}
